.client-header{
    &-logo{
        text-align: left;
    }
    &-menu{
        background:#007FFF;
        padding: 12px 0;
        box-shadow: (0px 4px 5px rgba(0, 0, 0, 0.16));
        .main-menu{
            display: flex;
            justify-content: space-between;
            ul{
                list-style: none;
                padding-left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    margin-right: 30px;
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        color: #fff;
                        font-size: 16px;
                        line-height: 30px;
                        font-weight: 400;
                        padding: 0;
                        text-decoration: none;
                        text-transform: uppercase;
                        &.active{
                            color: rgba($color: #fff, $alpha: .7);
                        }
                    }
                }
            }
            .auth-login {
                display: flex;
                align-items: center;
            }
        }
        .btn-login{
            cursor: pointer;
            color: #fff;
            text-decoration: none;
        }
    }
    .group-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        .box-search{
            form{
                position: relative;
                input{
                    line-height: 32px;
                    border-radius: 16px;
                    border: 1px solid #e5e5e5;
                    padding: 0 20px;
                    height: 30px;
                    font-size: 14px;
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
                    
                }
                fieldset{
                    border-color: transparent;
                    &:hover,&:focus{
                        border-color: transparent;
                    }
                }
                button{
                    background: transparent;
                    outline: none;
                    border: none;
                    position: absolute;
                    top: 7px;
                    right: 7px;
                    padding: 0;
                    min-width: auto;                
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }    
}